  @font-face {
    font-family: "IowanOldSt BT";
    src: url("/fonts/Iowan_Old_Style_bold.woff") format("woff");
  }

  @font-face {
    font-family: "Snell RoundHand";
    src: url("/fonts/SnellBT-Bold.woff") format("woff");
    weight: 700;
  }

  @font-face {
    font-family: "Snell RoundHand";
    src: url("/fonts/SnellBT-Regular.woff") format("woff");
    weight: 400;
  }

  @font-face {
    font-family: "Snell RoundHand";
    src: url("/fonts/SnellRoundhand-BlackScript.woff") format("woff");
    weight: 900;
  }
  @font-face {
    font-family: "Snell RoundHand";
    src: url("/fonts/SnellRoundhand-BoldScript.woff") format("woff");
    weight: 800;
  }
